{% import "macros/html.twig" as html %}

{% extends "base.twig" %}
{% set class = 'blog-overview__wrapper' %}

{% block content %}
	<section class="{{ class }} section__wrapper">
		<div class="blog-overview__description">
			{{ post.description }}
		</div>
		<div class="tease-posts__collections">
			{% for post in posts %}
				{% include 'partials/tease.twig' with {
					'post' : post
				} %}
			{% endfor %}
		</div>

		{% if posts.pagination %}
			{% include 'partials/pagination.twig' with {
				'pagination' : posts.pagination() 
			} %}
		{% endif %}	
	</section>
{% endblock %}
