{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="section__content">
				{% if post.get_field('content') %}
					<div class="section__content-body">
						{% for layout in post.get_field('content') %}
							{% if layout.acf_fc_layout == 'intro_hero' %}
								{% include "layouts/intro_hero.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section'
									} 
								%}
							{% endif %}
							{% if layout.acf_fc_layout == 'intro_text' %}
								{% include "layouts/intro_text.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section'
									} 
								%}
							{% endif %}
							{% if layout.acf_fc_layout == 'text_left_image_right' %}
								{% include "layouts/text_left_image_right.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section'
									} 
								%}
							{% endif %}
							{% if layout.acf_fc_layout == 'text_right_image_left' %}
								{% include "layouts/text_left_image_right.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section',
									'reverse': true
									} 
								%}
							{% endif %}
							{% if layout.acf_fc_layout == 'text_left_blocks_right' %}
								{% include "layouts/text_left_blocks_right.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section'
									} 
								%}
							{% endif %}
							{% if layout.acf_fc_layout == 'tease_posts' %}
								{% include "layouts/tease_posts.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section'
									} 
								%}
							{% endif %}
							{% if layout.acf_fc_layout == 'process_line' %}
								{% include "layouts/process_line.twig" with {
									'fields': layout,
									'class': layout.acf_fc_layout ~ '__section'
									} 
								%}
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}	
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}