:root {
  --c-primary: #223343;
  --c-secondary: #FFB700;
  --f-heading: 'Heebo', sans-serif;
  --f-body: 'Karla', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: var(--f-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--f-heading);
}

p {
  font-family: var(--f-body);
}

a {
  color: var(--c-secondary);
}

.content-wrapper {
  width: 100%;
}

.main__site {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list--main {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav__list-item {
  margin-right: 2rem;
}

.nav__link {
  font-size: 1.4rem;
  text-decoration: none; 
  color: var(--c-primary);
  display: block;
}

.nav__link:hover {
  color: var(--c-secondary);
}

.nav__button {
  padding: .7rem 2rem;
  font-size: 1.2rem;
  border-radius: .3rem;
  background-color: var(--c-primary);
  color: white;
}

.nav__button:hover {
  color: white;
  background-color: var(--c-secondary);
}

.section__wrapper {
  width: 75%;
  max-width: 1300px;
  margin: 0 auto;
}

.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}

.vertical-bar {
  display: flex;
  width: 300px;
  align-items: center;
  position: absolute;
  transform: rotate(-90deg) translate(-100%, 0px);
  top: 0%;
  left: 0;
  transform-origin: 0% 50%;
}

.vertical-bar__line {
  height: 2px;
  background-color: var(--c-secondary);
  flex: 1;
  margin-right: 1rem;
}

.vertical-bar__text {
  text-transform: uppercase;
  font-size: 1.5rem;
  white-space: nowrap;
  font-weight: bold;
}

.intro_hero__section {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 4rem; 
  margin-bottom: 4rem;
}

.intro_hero__description {
  padding-left: 6rem;
  max-width: 40%;
  flex: 1 0 40%;
}

.intro_hero__description h1 {
  margin-top: 0;
  font-size: 4rem;
}

.intro_hero__description p {
  font-size: 1.375rem;
  line-height: 2rem;
}

.intro_hero__image {
  max-width: 50%;
  flex: 1 0 50%;
}

.button {

}

.button--intro {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--c-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.button__svg {
  width: 24px;
  height: 24px;
  stroke: var(--c-primary);
}

.button--intro:hover {
  border-color: var(--c-secondary);
}

.button--intro:hover, .button--intro:hover .button__svg {
  stroke: var(--c-secondary);
}

.intro_text {
  padding-top: 9rem;
}

.intro_text__sub {
  font-family: 'Heebo';
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.intro_text__description {

}

.intro_text__description h2 {
  font-size: 3.5rem;
  max-width: 42rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.intro_text__description p {
  font-size: 1.1rem;
  padding: 2rem 0;
  line-height: 1.8rem;
}

.text-and-image {
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
}

.text-and-image--reverse {
  flex-direction: row-reverse;
}

.text-and-image__description {
  flex: 1 0 45%;
  max-width: 45%
}

.text-and-image__figure {
  flex: 1 0 45%;
  max-width: 45%;
}

.text-and-image__media {
  width: 100%;
  height: auto;
}

.description h3 {
  font-size: 2rem;
}

.description p {
  padding-top: 1.2rem;
  line-height: 1.7rem;
}

.text-and-image--align-start {
  align-items: flex-start;
}

.text-and-image--align-center {
  align-items: center;
}

.text-and-image--align-end {
  align-items: flex-end;
}

.text-and-blocks {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
}

.text-and-blocks__description {
  flex: 1 0 45%;
  max-width: 45%;
}

.text-and-blocks__blocks {
  display: flex;
  flex: 1 0 45%;
  max-width: 45%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-and-blocks__block {
  flex: 1 0 47%;
  max-width: 47%;
  margin-bottom: 2rem;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .16);
}

.text-and-blocks__block-content {
  padding: 1.5rem;
}

.text-and-blocks__block-subtitle {
  text-transform: uppercase;
  font-family: var(--f-heading);
  font-size: .8rem;
}

.text-and-blocks__block-title {
  font-family: var(--f-body);
  font-size: 1.8rem;
  padding-top: .3rem;
  font-weight: 700;
}

.tease-posts {
  margin-top: 8rem;
}

.tease-posts__collections {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-preview {
  flex: 1 0 31%;
  max-width: 31%;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 6px 6px;
}

.post-preview:hover {
  cursor: pointer;
}

.post-preview__link{
  text-decoration: none;
  color: var(--c-primary);

}

.post-preview:hover .post-preview__media {
  width: 100%;
  height: 100%;
  box-shadow: none;
}

.post-preview__figure {
  display: flex;
  background-color: #F7F7F7;
  height: 250px;
  justify-content: center;
  align-items: flex-end;
  border-radius: 6px 6px 0 0;
  box-shadow: inset 8px 8px 16px rgba(0, 0, 0, .02);
}

.post-preview__media {
  width: 75%;
  height: 75%;
  object-fit: cover;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, .16);
  border-radius: 6px 6px 0 0;
  transition: all .1s ease-in-out;
}

.post-preview__media--placeholder {
  background-color: var(--c-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-preview__svg {
  width: 30%;
  height: auto;
  fill: white;
}

.post-preview__excerpt-content {
  padding: 2rem;
}

.post-preview__title {
  font-size: 1.2rem;
  color: black;
  padding-bottom: .4rem;
}

.post-preview__text {
  padding: 1rem 0;
  line-height: 1.5rem;
}

.post-preview__byline {
  display: block;
}

.post-preview__byline, .post-preview__byline-link {
  font-size: .7rem;
  text-transform: uppercase;
  font-weight: 700;
}

.post-preview__button {
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: var(--c-primary);
  color: white;
  display: inline-block;
  border-radius: 6px;
}

.post-preview__button:hover {
  background-color: var(--c-secondary);
  color: var(--c-primary);
}
