<section class="{{ class }} section__wrapper">
  <div class="intro_text">
    <p class="intro_text__sub">{{ fields.subtitle}}</p>
    <div class="intro_text__description">
      {{ fields.description }}
    </div>
  </div>
</section>